In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
df = sns.load_dataset("planets")

In [3]:
df

               method  number  orbital_period   mass  distance  year
0     Radial Velocity       1      269.300000   7.10     77.40  2006
1     Radial Velocity       1      874.774000   2.21     56.95  2008
2     Radial Velocity       1      763.000000   2.60     19.84  2011
3     Radial Velocity       1      326.030000  19.40    110.62  2007
4     Radial Velocity       1      516.220000  10.50    119.47  2009
...               ...     ...             ...    ...       ...   ...
1030          Transit       1        3.941507    NaN    172.00  2006
1031          Transit       1        2.615864    NaN    148.00  2007
1032          Transit       1        3.191524    NaN    174.00  2007
1033          Transit       1        4.125083    NaN    293.00  2008
1034          Transit       1        4.187757    NaN    260.00  2008

[1035 rows x 6 columns]

In [4]:
df.describe()

            number  orbital_period        mass     distance         year
count  1035.000000      992.000000  513.000000   808.000000  1035.000000
mean      1.785507     2002.917596    2.638161   264.069282  2009.070531
std       1.240976    26014.728304    3.818617   733.116493     3.972567
min       1.000000        0.090706    0.003600     1.350000  1989.000000
25%       1.000000        5.442540    0.229000    32.560000  2007.000000
50%       1.000000       39.979500    1.260000    55.250000  2010.000000
75%       2.000000      526.005000    3.040000   178.500000  2012.000000
max       7.000000   730000.000000   25.000000  8500.000000  2014.000000

In [7]:
df["method"].value_counts()

method
Radial Velocity                  553
Transit                          397
Imaging                           38
Microlensing                      23
Eclipse Timing Variations          9
Pulsar Timing                      5
Transit Timing Variations          4
Orbital Brightness Modulation      3
Astrometry                         2
Pulsation Timing Variations        1
Name: count, dtype: int64

In [6]:
df.groupby("method").mean()

,number,orbital_period,mass,distance,year
method,,,,,
Astrometry,1.000000,631.180000,NaN,17.875000,2011.500000
Eclipse Timing Variations,1.666667,4751.644444,5.125000,315.360000,2010.000000
Imaging,1.315789,118247.737500,NaN,67.715937,2009.131579
Microlensing,1.173913,3153.571429,NaN,4144.000000,2009.782609
Orbital Brightness Modulation,1.666667,0.709307,NaN,1180.000000,2011.666667
Pulsar Timing,2.200000,7343.021201,NaN,1200.000000,1998.400000
Pulsation Timing Variations,1.000000,1170.000000,NaN,NaN,2007.000000
Radial Velocity,1.721519,823.354680,2.630699,51.600208,2007.518987
Transit,1.954660,21.102073,1.470000,599.298080,2011.236776
Transit Timing Variations,2.250000,79.783500,NaN,1104.333333,2012.500000

In [8]:
df.groupby("method").aggregate(["mean", "max", "min"])

                                 number         orbital_period                 \
                                   mean max min           mean            max
method
Astrometry                     1.000000   1   1     631.180000    1016.000000
Eclipse Timing Variations      1.666667   2   1    4751.644444   10220.000000
Imaging                        1.315789   4   1  118247.737500  730000.000000
Microlensing                   1.173913   2   1    3153.571429    5100.000000
Orbital Brightness Modulation  1.666667   2   1       0.709307       1.544929
Pulsar Timing                  2.200000   3   1    7343.021201   36525.000000
Pulsation Timing Variations    1.000000   1   1    1170.000000    1170.000000
Radial Velocity                1.721519   6   1     823.354680   17337.500000
Transit                        1.954660   7   1      21.102073     331.600590
Transit Timing Variations      2.250000   3   2      79.783500     160.000000

                                                mass                 \
                                       min      mean    max     min
method
Astrometry                      246.360000       NaN    NaN     NaN
Eclipse Timing Variations      1916.250000  5.125000   6.05  4.2000
Imaging                        4639.150000       NaN    NaN     NaN
Microlensing                   1825.000000       NaN    NaN     NaN
Orbital Brightness Modulation     0.240104       NaN    NaN     NaN
Pulsar Timing                     0.090706       NaN    NaN     NaN
Pulsation Timing Variations    1170.000000       NaN    NaN     NaN
Radial Velocity                   0.736540  2.630699  25.00  0.0036
Transit                           0.355000  1.470000   1.47  1.4700
Transit Timing Variations        22.339500       NaN    NaN     NaN

                                  distance                           year  \
                                      mean      max      min         mean
method
Astrometry                       17.875000    20.77    14.98  2011.500000
Eclipse Timing Variations       315.360000   500.00   130.72  2010.000000
Imaging                          67.715937   165.00     7.69  2009.131579
Microlensing                   4144.000000  7720.00  1760.00  2009.782609
Orbital Brightness Modulation  1180.000000  1180.00  1180.00  2011.666667
Pulsar Timing                  1200.000000  1200.00  1200.00  1998.400000
Pulsation Timing Variations            NaN      NaN      NaN  2007.000000
Radial Velocity                  51.600208   354.00     1.35  2007.518987
Transit                         599.298080  8500.00    38.00  2011.236776
Transit Timing Variations      1104.333333  2119.00   339.00  2012.500000


                                max   min
method
Astrometry                     2013  2010
Eclipse Timing Variations      2012  2008
Imaging                        2013  2004
Microlensing                   2013  2004
Orbital Brightness Modulation  2013  2011
Pulsar Timing                  2011  1992
Pulsation Timing Variations    2007  2007
Radial Velocity                2014  1989
Transit                        2014  2002
Transit Timing Variations      2014  2011

In [9]:
df.groupby("method").aggregate({ "number" : ["mean"],
                                 "mass" : ["min", "max"]   
                               })

                                 number    mass
                                   mean     min    max
method
Astrometry                     1.000000     NaN    NaN
Eclipse Timing Variations      1.666667  4.2000   6.05
Imaging                        1.315789     NaN    NaN
Microlensing                   1.173913     NaN    NaN
Orbital Brightness Modulation  1.666667     NaN    NaN
Pulsar Timing                  2.200000     NaN    NaN
Pulsation Timing Variations    1.000000     NaN    NaN
Radial Velocity                1.721519  0.0036  25.00
Transit                        1.954660  1.4700   1.47
Transit Timing Variations      2.250000     NaN    NaN