In [20]:
import numpy as np
import pandas as pd

In [28]:
pandas_df = pd.DataFrame(data = np.random.randint(-500, 500, (5,6)), index = "A B C D E".split(), columns = "Value_1 Value_2 Value_3 Value_4 Value_5 Value_6".split())

In [29]:
pandas_df

   Value_1  Value_2  Value_3  Value_4  Value_5  Value_6
A     -480      392     -104     -225      -19      372
B      -78     -341     -102     -264      416      307
C     -393      187      301     -283     -195     -171
D     -433      -47       37      137      387     -347
E      236     -393      260      230     -106      -75

In [58]:
pandas_df[["Value_1","Value_3"]]["B" : "D"]

   Value_1  Value_3
B      -78     -102
C     -393      301
D     -433       37