In [1]:
import numpy as np
import pandas as pd

In [6]:
Pd_Data = { "Val_1" : [4, 5, 7 , np.nan, 33, np.nan, 87, 22],
            "Val_2" : [np.nan, 988, np.nan, 344, 1002, np.nan, 87, 22],
            "Val_3" : "A B C D E F G H".split()
}

In [7]:
Pd_Data

{'Val_1': [4, 5, 7, nan, 33, nan, 87, 22],
 'Val_2': [nan, 988, nan, 344, 1002, nan, 87, 22],
 'Val_3': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']}

In [8]:
p_df = pd.DataFrame(data = Pd_Data)

In [9]:
p_df

   Val_1   Val_2 Val_3
0    4.0     NaN     A
1    5.0   988.0     B
2    7.0     NaN     C
3    NaN   344.0     D
4   33.0  1002.0     E
5    NaN     NaN     F
6   87.0    87.0     G
7   22.0    22.0     H

In [21]:
p_df.fillna(method = 'bfill')

   Val_1   Val_2 Val_3
0    4.0   988.0     A
1    5.0   988.0     B
2    7.0   344.0     C
3   33.0   344.0     D
4   33.0  1002.0     E
5   87.0    87.0     F
6   87.0    87.0     G
7   22.0    22.0     H

In [33]:
p_df.fillna({"Val_1": 5000, "Val_2": 5})

    Val_1   Val_2 Val_3
0     4.0     5.0     A
1     5.0   988.0     B
2     7.0     5.0     C
3  5000.0   344.0     D
4    33.0  1002.0     E
5  5000.0     5.0     F
6    87.0    87.0     G
7    22.0    22.0     H

In [38]:
p_df.set_index("Val_1").iloc[4,]

Val_2    1002.0
Val_3         E
Name: 33.0, dtype: object