In [1]:
import numpy as np
import pandas as pd

In [2]:
school_1st = ["School_1", "School_1", "School_1", "School_2", "School_2", "School_2", "School_3", "School_3", "School_3"]
class_2nd = ["Class A", "Class B", "Class C", "Class A", "Class B", "Class C", "Class A", "Class B", "Class C"]

In [12]:
zip(school_1st, class_2nd)

In [13]:
mul_indx_data = list(zip(school_1st, class_2nd))

In [14]:
mul_indx_data

[('School_1', 'Class A'),
 ('School_1', 'Class B'),
 ('School_1', 'Class C'),
 ('School_2', 'Class A'),
 ('School_2', 'Class B'),
 ('School_2', 'Class C'),
 ('School_3', 'Class A'),
 ('School_3', 'Class B'),
 ('School_3', 'Class C')]

In [23]:
df_mul_ind = pd.MultiIndex.from_tuples(mul_indx_data)

In [24]:
df_mul_ind

MultiIndex([('School_1', 'Class A'),
            ('School_1', 'Class B'),
            ('School_1', 'Class C'),
            ('School_2', 'Class A'),
            ('School_2', 'Class B'),
            ('School_2', 'Class C'),
            ('School_3', 'Class A'),
            ('School_3', 'Class B'),
            ('School_3', 'Class C')],
           )

In [25]:
np.random.seed(10)
Smstr_data = np.random.randint(20, 100, (9, 5))

In [26]:
Smstr_data

array([[29, 35, 84, 48, 49],
       [28, 93, 20, 60, 56],
       [36, 31, 74, 82, 53],
       [92, 98, 69, 71, 74],
       [97, 89, 33, 45, 33],
       [50, 50, 32, 85, 51],
       [77, 56, 47, 38, 97],
       [42, 43, 31, 48, 94],
       [29, 35, 38, 91, 31]])

In [29]:
df_mul = pd.DataFrame(data = Smstr_data, index = df_mul_ind, columns = ["Semester_1", "Semester_2", "Semester_3", "Semester_4", "Semester_5"])

In [30]:
df_mul

                  Semester_1  Semester_2  Semester_3  Semester_4  Semester_5
School_1 Class A          29          35          84          48          49
         Class B          28          93          20          60          56
         Class C          36          31          74          82          53
School_2 Class A          92          98          69          71          74
         Class B          97          89          33          45          33
         Class C          50          50          32          85          51
School_3 Class A          77          56          47          38          97
         Class B          42          43          31          48          94
         Class C          29          35          38          91          31