In [1]:
import numpy as np
import pandas as pd

In [2]:
pan_data = {    "Val1" : [1, 4, 52, np.nan, 12,  np.nan, 76, 99],
                "Val2" : [34, np.nan, 22, np.nan, 122, 443, 876, np.nan],
                "Val3" : ["A", "B", "C", "D", "E", "F", "G", "H"]
           }

In [3]:
pan_data

{'Val1': [1, 4, 52, nan, 12, nan, 76, 99],
 'Val2': [34, nan, 22, nan, 122, 443, 876, nan],
 'Val3': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']}

In [4]:
DF_pan = pd.DataFrame(data = pan_data)

In [5]:
DF_pan

   Val1   Val2 Val3
0   1.0   34.0    A
1   4.0    NaN    B
2  52.0   22.0    C
3   NaN    NaN    D
4  12.0  122.0    E
5   NaN  443.0    F
6  76.0  876.0    G
7  99.0    NaN    H

In [9]:
DF_pan["Val_NaN"] = np.nan

In [10]:
DF_pan

   Val1   Val2 Val3  Val_NaN
0   1.0   34.0    A      NaN
1   4.0    NaN    B      NaN
2  52.0   22.0    C      NaN
3   NaN    NaN    D      NaN
4  12.0  122.0    E      NaN
5   NaN  443.0    F      NaN
6  76.0  876.0    G      NaN
7  99.0    NaN    H      NaN

In [12]:
DF_pan.dropna(axis = 1, how = 'all')

   Val1   Val2 Val3
0   1.0   34.0    A
1   4.0    NaN    B
2  52.0   22.0    C
3   NaN    NaN    D
4  12.0  122.0    E
5   NaN  443.0    F
6  76.0  876.0    G
7  99.0    NaN    H