In [8]:
import numpy as np
import pandas as pd
import seaborn as sns

df = sns.load_dataset("diamonds")

In [9]:
df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  category
 2   color    53940 non-null  category
 3   clarity  53940 non-null  category
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: category(3), float64(6), int64(1)
memory usage: 3.0 MB

In [11]:
df.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [12]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [22]:
df.pivot_table(values = ["price"], index = ["cut", "color"], aggfunc = ["mean", "max", "min", "sum", "std"])

                        mean    max   min       sum          std
                       price  price price     price        price
cut       color
Ideal     D      2629.094566  18693   367   7450854  3001.069919
          E      2597.550090  18729   326  10138238  2956.007149
          F      3374.939362  18780   408  12912518  3766.635328
          G      3720.706388  18806   361  18171930  4006.262468
          H      3889.334831  18760   357  12115278  4013.375228
          I      4451.970377  18779   348   9317974  4505.150405
          J      4918.186384  18508   340   4406695  4476.206836
Premium   D      3631.292576  18575   367   5820962  3711.634010
          E      3538.914420  18477   326   8270443  3794.987184
          F      4324.890176  18791   342  10081319  4012.022756
          G      4500.742134  18741   382  13160170  4356.571034
          H      5216.706780  18795   368  12311428  4466.189717
          I      5946.180672  18823   334   8491146  5053.746146
          J      6294.591584  18710   363   5086030  4788.936691
Very Good D      3470.467284  18542   357   5250817  3523.753268
          E      3214.652083  18731   352   7715165  3408.023634
          F      3778.820240  18777   357   8177367  3786.124033
          G      3872.753806  18818   354   8903461  3861.375464
          H      4535.390351  18803   337   8272552  4185.798202
          I      5255.879568  18500   336   6328079  4687.104775
          J      5103.513274  18430   336   3460182  4135.652742
Good      D      3405.382175  18468   361   2254363  3175.148710
          E      3423.644159  18236   327   3194260  3330.702061
          F      3495.750275  18686   357   3177637  3202.411187
          G      4123.482204  18788   394   3591553  3702.504718
          H      4276.254986  18640   368   3001931  4020.660488
          I      5078.532567  18707   351   2650994  4631.702141
          J      4574.172638  18325   335   1404271  3707.790845
Fair      D      4291.061350  16386   536    699443  3286.114238
          E      3682.312500  15584   337    824838  2976.651645
          F      3827.003205  17995   496   1194025  3223.302685
          G      4239.254777  18574   369   1331126  3609.644379
          H      5135.683168  18565   659   1556112  3886.481847
          I      4685.445714  18242   735    819953  3730.271132
          J      4975.655462  18531   416    592103  4050.458933

In [25]:
df.pivot_table(values = ["price"], index = ["cut"], columns = ["color"], aggfunc = ["mean", "max", "min", "sum", "std"])

                  mean                                                      \
                 price
color                D            E            F            G            H
cut
Ideal      2629.094566  2597.550090  3374.939362  3720.706388  3889.334831
Premium    3631.292576  3538.914420  4324.890176  4500.742134  5216.706780
Very Good  3470.467284  3214.652083  3778.820240  3872.753806  4535.390351
Good       3405.382175  3423.644159  3495.750275  4123.482204  4276.254986
Fair       4291.061350  3682.312500  3827.003205  4239.254777  5135.683168

                                       max                ...       sum  \
                                     price                ...     price
color                I            J      D      E      F  ...         H
cut                                                       ...
Ideal      4451.970377  4918.186384  18693  18729  18780  ...  12115278
Premium    5946.180672  6294.591584  18575  18477  18791  ...  12311428
Very Good  5255.879568  5103.513274  18542  18731  18777  ...   8272552
Good       5078.532567  4574.172638  18468  18236  18686  ...   3001931
Fair       4685.445714  4975.655462  16386  15584  17995  ...   1556112

                                     std                            \
                                   price
color            I        J            D            E            F
cut
Ideal      9317974  4406695  3001.069919  2956.007149  3766.635328
Premium    8491146  5086030  3711.634010  3794.987184  4012.022756
Very Good  6328079  3460182  3523.753268  3408.023634  3786.124033
Good       2650994  1404271  3175.148710  3330.702061  3202.411187
Fair        819953   592103  3286.114238  2976.651645  3223.302685



color                G            H            I            J
cut
Ideal      4006.262468  4013.375228  4505.150405  4476.206836
Premium    4356.571034  4466.189717  5053.746146  4788.936691
Very Good  3861.375464  4185.798202  4687.104775  4135.652742
Good       3702.504718  4020.660488  4631.702141  3707.790845
Fair       3609.644379  3886.481847  3730.271132  4050.458933

[5 rows x 35 columns]